@page "{quizId}/{itemId}"
@model BackendLab01.Pages.Summary
@{
    ViewData["Title"] = "Summary";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h3>@ViewData["Title"]</h3>
<p>Correct: @Model.Correct / @Model.Answers</p>